/* Error: Undefined mixin.
 *     ,
 * 151 |     @include buttons;
 *     |     ^^^^^^^^^^^^^^^^
 *     '
 *   sass\presets\_main.scss 151:2  @use
 *   sass\style.scss 12:1           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 151 \2502      @include buttons;\d\a     \2502      ^^^^^^^^^^^^^^^^\a     \2575 \a   sass\\presets\\_main.scss 151:2  @use\a   sass\\style.scss 12:1           root stylesheet";
}
