@mixin buttons{
	text-align: center;
	padding: 20px;
}

@mixin ancor-boton{
	padding: 10px 20px;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: aliceblue;
	background-color: orange;
    border: none;

}

@mixin boton-animacion{
	transform: scale(0,9);
}

@mixin descripcion{
	font-size: 15px;
	font-weight: 600;
	color: #000;
	text-align: center;
}