/*PAGINA DE PRODUCTOS*/

.productos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	justify-items: center;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center; /* Centra el texto del título y la descripción */
}

.producto {
	display: grid;
	grid-template-rows: auto auto;
	gap: 10px;
	justify-items: center;
}

.picture {
	display: flex;
	justify-content: center;
	align-items: center;
}

.picture img {
	width: 40%;
	max-width: 40%;
	height: auto;
}

.descripcion{ 
	@include descripcion;
	grid-column: span 2; /* Ocupa ambas columnas */
	.p__productos{
		@include descripcion;
	}
}

.h2 {
	font-size:$tituloprincipal; /* Asegúrate de definir las variables en SCSS o usa un tamaño fijo */
	font-weight: 600;
	font-family: $family;
	color: $colorprincipal;
	margin-top: 100px;
    grid-column: span 2;
}

/* Botón de productos */

.btn__productos{
	@include buttons;
}
.button__productos a {
    @include ancor-boton;
}
.button__productos a:hover {
	background-color: #b77700;
}
.button__productos :active{
	@include boton-animacion;
}