@charset "UTF-8";
/*Llamar al id, clase {
agregamos la propiedad: valor;
}*/
/*LLAMADO A TODO EL HTML 
"*{}" */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  max-width: 1920px;
}

#body {
  position: relative;
  min-height: 100vh;
  /*HEADER BOOTSRAP*/
}
#body #header nav div a img {
  margin-left: 50px;
}
#body #header nav div div ul li a {
  font-size: 20px;
}

/*ESTILOS INICIO*/
#main section {
  display: flex;
  flex-direction: column; /* Coloca el texto uno debajo del otro */
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100%;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/portada.webp"); /* Imagen de fondo */
  background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  color: white; /* Asegura que el texto sea blanco y legible */
}
#main section h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-70%, -100%);
  z-index: 1;
}
#main section p {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-69%, 50%);
  z-index: 1;
}
#main section button a {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  background-color: orange;
  border: none;
  position: absolute;
  bottom: 130px;
  left: 235px;
  padding: 10px 20px;
  text-decoration: none;
}
#main section button {
  background-color: rgb(183, 119, 0);
}

.portada {
  width: 100%;
  height: 100vh;
}

/*ESTILOS FOOTER*/
#footer__gral div {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: auto;
  display: flex;
  min-height: 10dvh;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-content: space-around;
}
#footer__gral div section img {
  width: 100px;
}
#footer__gral div section {
  text-align: center;
}
#footer__gral div section article {
  color: white;
  padding-top: 10px;
}
#footer__gral div section {
  color: aliceblue;
  font-size: 25px;
  margin-left: 20px;
}
/*PAGINA DE PRODUCTOS*/
/*HEADER BOOTSRAP*/
#main section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos productos por fila */
  grid-template-areas: "imagen  imagen" "texto   texto ";
  gap: 20px; /* Espacio entre los productos */
  justify-items: center; /* Centrar contenido en cada celda */
  align-items: center;
  width: 90%; /* Para que no ocupe toda la pantalla, puedes ajustar */
  margin: 0 auto; /* Centrar el contenedor dentro de la página */
  padding: 20px 0;
}
#main section h2 {
  grid-column: 1/-1; /*Hace que el h2 ocupe toda la fila (ambas columnas) */
  font-size: 50px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: orange;
  margin-bottom: 20px; /* Añade espacio entre el h2 y los productos */
  margin-top: 100px;
  z-index: 10px;
}
#main section p {
  grid-column: 1/-1; /*Hace que la descripción ocupe toda la fila (ambas columnas) */
  text-align: center; /* Centrar el texto debajo de cada imagen */
  font-size: 15px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  margin-bottom: 100px;
}
#main section div {
  display: grid;
  grid-template-rows: auto auto; /* Primero la imagen, luego el texto */
  gap: 10px; /* Espacio entre la imagen y el texto */
  justify-items: center;
}
#main section div picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main section div picture img {
  width: 100%; /* Que la imagen ocupe todo el ancho disponible */
  max-width: 300px; /* Ajusta este valor según el tamaño deseado de las imágenes */
  height: auto; /* Mantener la proporción de la imagen */
}
#main section div p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
#main section button {
  display: flex;
  justify-content: center; /* Centra el botón horizontalmente */
  margin: 100px auto; /* Asegura que el botón esté centrado y con margen respecto a otros elementos */
  color: orange;
  border: none;
}
#main section button a {
  display: inline-block; /* Usa inline-block para ajustar el tamaño según su contenido */
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  background-color: orange;
  border: none; /* Elimina cualquier borde no deseado */
  outline: none; /* Elimina el borde de enfoque si se hace clic */
  padding: 10px 20px;
  text-decoration: none; /* Elimina subrayado en el enlace */
  width: fit-content; /* Ajusta el tamaño del botón según el contenido del enlace */
}
#main section button {
  background-color: rgb(183, 119, 0);
}

/*PAGINA SOBRE NOSOTROS*/
.presentación {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas por fila */
  grid-template-areas: "imagen  imagen" "texto   texto ";
  gap: 20px; /* Espacio entre las columnas */
  justify-items: center; /* Centrar contenido en cada celda */
  align-items: center;
  width: 90%; /* Para que no ocupe toda la pantalla, puedes ajustar */
  margin: 0 30px; /* Centrar el contenedor dentro de la página */
  margin-bottom: 100px;
  padding-top: 150px;
}

.presentación h2, .presentación p {
  height: max-content;
  width: 100%;
}

/*PAGINA CONTACTO*/
.h2-contacto {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: orange;
  margin-bottom: 20px; /* Añade espacio entre el h2 y los productos */
  margin-top: 100px;
  z-index: 10px;
}

/* Estilos generales del formulario */
.form {
  width: 80%;
  max-width: 600px;
  margin: 0 auto; /* Centra el formulario */
  margin-bottom: 10%;
  padding: 20px;
  background-color: orange;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form fieldset {
  border: none;
  margin-bottom: 20px;
}

.form h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

/* Estilos para los labels */
.form label {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
  font-family: "Arial", sans-serif;
}

/* Estilos para los inputs */
form input[type=text],
form input[type=email],
form input[type=radio],
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Radio buttons con etiquetas a la izquierda */
form input[type=radio] {
  width: auto;
  margin-right: 10px;
}

form label[for=radio] {
  display: inline-block;
  margin-right: 20px;
}

/* Estilo del textarea */
form textarea {
  min-height: 100px;
  resize: vertical;
}

/* Botones */
form input[type=submit],
form input[type=reset] {
  width: calc(50% - 10px);
  padding: 10px;
  font-size: 18px;
  font-family: "Arial", sans-serif;
  color: #fff;
  background-color: rgb(155, 16, 16);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

form input[type=submit]:hover,
form input[type=reset]:hover {
  background-color: rgb(228, 15, 15);
}

/* Botones alineados */
form input[type=reset] {
  margin-left: 0px;
  margin-top: 20px;
  background-color: rgb(16, 11, 11);
}

form input[type=reset]:hover {
  background-color: rgb(58, 58, 58);
}

/* Estilos para móviles */
@media only screen and (max-width: 600px) {
  form {
    width: 95%;
  }
  form input[type=submit],
  form input[type=reset] {
    width: 100%;
    margin: 10px 0;
  }
}
/*PAGINA PREGUNTAS FRECUENTES*/
#faq {
  margin-bottom: 100px;
  justify-items: center;
  padding: left 100px;
  /*justify-items: center;*/
}

#main-preguntas-frecuentes {
  justify-content: center;
}

/*MEDIA QUERIES*/
/* Dispositivos móviles (celulares) */
@media only screen and (max-width: 600px) {
  /* Portada en Inicio */
  .textprincipal {
    font-size: 20px; /* Ajusta el tamaño del texto */
  }
  .h1 {
    font-size: 30px; /* Texto principal más pequeño */
  }
  .parrafo {
    font-size: 18px; /* Texto del párrafo más pequeño */
  }
  .button a {
    font-size: 18px; /* Botón más pequeño */
    bottom: 100px; /* Ajusta la posición del botón */
    left: 50px;
  }
  /* Sección Productos */
  .productos {
    grid-template-columns: 1fr; /* Una sola columna para productos en móviles */
    width: 80%;
  }
  .h2 {
    font-size: 35px; /* Tamaño del título más pequeño */
    margin-top: 50px;
    justify-content: center;
  }
  .p__producto {
    font-size: 16px;
  }
  .button__productos a {
    font-size: 18px; /* Botón más pequeño */
    padding: 8px 16px; /* Ajusta el tamaño del botón */
  }
}
/* Dispositivos tablets */
@media only screen and (min-width: 750px) and (max-width: 900px) {
  /* Portada en Inicio */
  .textprincipal {
    font-size: 24px; /* Ajusta el tamaño del texto */
  }
  .h1 {
    font-size: 40px; /* Texto principal más pequeño */
  }
  .parrafo {
    font-size: 20px;
  }
  .button a {
    font-size: 20px; /* Botón más pequeño */
    bottom: 120px; /* Ajusta la posición del botón */
    left: 100px;
  }
  /* Sección Productos */
  .productos {
    grid-template-columns: 1fr 1fr; /* Dos columnas para productos en tablets */
  }
  .h2 {
    font-size: 40px; /* Tamaño del título más pequeño */
    margin-top: 70px;
  }
  .p__producto {
    font-size: 18px;
  }
  .button__productos a {
    font-size: 20px; /* Ajusta el tamaño del botón */
    padding: 10px 18px;
  }
}
/*BREAKPOINTS
mobile=600px
tablet=750 y 900px
desktop= 1200 y 1400px
*/

/*# sourceMappingURL=style.css.map */
